In [44]:
import numpy as np
import pandas as pd

In [45]:
data = pd.read_csv('data/Trips_2018/Trips_2018.csv')

In [46]:
data.head()

,Unnamed: 0,tripduration,starttime,stoptime,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,40.767272,-73.993929,505.0,40.749013,-73.988484,31956,Subscriber,1992,1
1,1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,40.767272,-73.993929,3255.0,40.750585,-73.994685,32536,Subscriber,1969,1
2,2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,40.767272,-73.993929,525.0,40.755942,-74.002116,16069,Subscriber,1956,1
3,3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,40.767272,-73.993929,447.0,40.763707,-73.985162,31781,Subscriber,1974,1
4,4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,40.767272,-73.993929,3356.0,40.774667,-73.984706,30319,Subscriber,1992,1

Drop Unnamed (id Collumn)

In [47]:
data.drop('Unnamed: 0',axis=1)

,tripduration,starttime,stoptime,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72.0,40.767272,-73.993929,505.0,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72.0,40.767272,-73.993929,3255.0,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72.0,40.767272,-73.993929,525.0,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72.0,40.767272,-73.993929,447.0,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72.0,40.767272,-73.993929,3356.0,40.774667,-73.984706,30319,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17548334,734,2018-12-31 23:55:06.9910,2019-01-01 00:07:21.2300,336.0,40.730477,-73.999061,379.0,40.749156,-73.991600,27111,Subscriber,1986,1
17548335,2551,2018-12-31 23:55:44.3070,2019-01-01 00:38:15.7820,3320.0,40.794067,-73.962868,2006.0,40.765909,-73.976342,16390,Customer,1969,0
17548336,2376,2018-12-31 23:56:52.8500,2019-01-01 00:36:29.2860,427.0,40.701907,-74.013942,259.0,40.701221,-74.012342,34398,Subscriber,1979,1
17548337,2758,2018-12-31 23:58:29.2120,2019-01-01 00:44:27.5170,3320.0,40.794067,-73.962868,281.0,40.764397,-73.973715,30818,Customer,1969,0
17548338,2459,2018-12-31 23:59:51.0850,2019-01-01 00:40:50.8800,128.0,40.727103,-74.002971,402.0,40.740343,-73.989551,34775,Subscriber,1996,2

Configure datetime to our date data

In [48]:
data['start_time'] = pd.to_datetime(data['starttime'], format="%Y-%m-%d %H:%M:%S.%f")
data['stop_time'] = pd.to_datetime(data['stoptime'], format="%Y-%m-%d %H:%M:%S.%f")

Drop old date collumns

In [49]:
data.drop('starttime',axis=1,inplace=True)
data.drop('stoptime',axis=1,inplace=True)

Ensure latitude/longitude values fall within New York City bounds.

In [50]:
before = len(data)
data = data[(data["start_station_latitude"].between(40.45, 40.92)) &
            (data["start_station_longitude"].between(-74.30, -73.65))]
after = len(data)

print("Rows before filtering:", before)
print("Rows after filtering:", after)
print("Rows removed:", before - after)

Rows before filtering: 17548339
Rows after filtering: 17548258
Rows removed: 81

Remove Tuples that have Missing Values

In [51]:
before = len(data)

data.dropna()

after = len(data)

print("Rows before dropna:", before)
print("Rows after dropna:", after)
print("Rows removed by dropna:", before - after)
print(f"Removed {(before - after) / before * 100:.2f}% of total rows")

Rows before dropna: 17548258
Rows after dropna: 17548258
Rows removed by dropna: 0
Removed 0.00% of total rows

In [52]:
data["usertype"] = data["usertype"].map({
    "Subscriber": 1,
    "Customer": 0
})

In [53]:
data.head()

,Unnamed: 0,tripduration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender,start_time,stop_time
0,0,970,72.0,40.767272,-73.993929,505.0,40.749013,-73.988484,31956,1,1992,1,2018-01-01 13:50:57.434,2018-01-01 14:07:08.186
1,1,723,72.0,40.767272,-73.993929,3255.0,40.750585,-73.994685,32536,1,1969,1,2018-01-01 15:33:30.182,2018-01-01 15:45:33.341
2,2,496,72.0,40.767272,-73.993929,525.0,40.755942,-74.002116,16069,1,1956,1,2018-01-01 15:39:18.337,2018-01-01 15:47:35.172
3,3,306,72.0,40.767272,-73.993929,447.0,40.763707,-73.985162,31781,1,1974,1,2018-01-01 15:40:13.372,2018-01-01 15:45:20.191
4,4,306,72.0,40.767272,-73.993929,3356.0,40.774667,-73.984706,30319,1,1992,1,2018-01-01 18:14:51.568,2018-01-01 18:19:57.642